.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
    color: rgb(64, 64, 64);
}
.details{
    display: flex;
}
.invoice-info{
    margin-left: auto;
}
.label{
    font-weight: 600;
}
.brand{
    display: flex;
}
.brand-name{
    flex: 1;
    padding-left: 1rem;
    font-weight: 500;
}
.more-info{
    margin-top: 0;
}
.link{
    text-decoration: underline;
}
.barcode{
    height: 60px;
}